@font-face {
  font-family: 'Roboto Regular';
  src: url('../font/roboto/Roboto-Regular.ttf');
}
@font-face {
  font-family: 'Roboto Black';
  src: url('../font/roboto/Roboto-Black.ttf');
}

html, body {
  border: 0;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased; 
  font-family: "Roboto Regular", sans-serif;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  webkit-overflow-scrolling: auto;
  position: absolute;
  color: #000;
}

@media only screen and (min-width: 640px){
  h1{
    font-family: "Roboto Black";
    font-size: 100px;
  }
  .loader{
    width: 50px;
    height: 50px;
  }

  .right {
      font-size: 12px;
      text-align: right;
      /*border: 3px solid #73AD21;*/
      z-index: 500;
      cursor: pointer;
  }
  .row{
    padding: 40px;
  }

}

@media only screen and (max-width: 640px){
  h1{
    font-family: "Roboto Black";
    font-size: 28px;
  }
  .loader{
    width: 15px;
    height: 15px;
  }
  .right {
      font-size: 8px;
      text-align: right;
      /*border: 3px solid #73AD21;*/
      z-index: 500;
      cursor: pointer;
  }
  .row{
    padding: 0px;
  }
  .col-2{
    padding-left: 0px;
    padding-right: 5px;
  }
  .col-9{
    padding-left: 0px;
  }
  .col-1{
    padding: 2px;
  }
}
/* MAP CANVAS & related styles */
#map { 
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #f4f4f4;
  cursor: move;
  -webkit-tap-highlight-color: transparent;
  position: fixed;
  z-index: -1;
}

.row {
  /*height: 400px;*/
  background-color:  #ffffff;
  opacity: 0.9; 
  z-index: 2;
  text-align: center;
  
}

.row.empty{
    opacity: 0;
    height: 800px;
}

table .red {
  text-decoration: underline;
}

.content{
    margin: auto;
    /*width: 50%;*/
    /*border: 3px solid blue;*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}



#down-button{
  z-index: 200;
  /*float: left;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);*/
  fill: #000;
  -webkit-transition-duration: 0.2s; /* Safari */
  transition-duration: 0.2s;
  transition: 0.2s;
  transform-origin: bottom;
  animation: stretch1 1s linear ;
  -moz-animation: stretch1 1s linear ;
  -webkit-animation: stretch1 1s linear ;
  -webkit-animation-iteration-count: 3;
  display: none;
}

table{
  text-align: right;
}


/*================================================*/
/*MAP PROGRESS LOADER*/

#tooltip{
  z-index: 200;
  float: left;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
/*  border:3px solid #73AD21;
*/}

/*turning loader*/
.loader {
    border: 10px solid rgba(0,0,0,0); /* Light grey */
    border-top: 10px solid #000; /* Blue */
    border-bottom: 10px solid #000;
    border-radius: 50%;
    
    animation: spin 2s linear infinite;
}
/*animation loader*/
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

